<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo Details</title>
</head>
<body>
    <main>
        <h2><%= taskList.name%></h2>
        <form action="http://localhost:5001/taskList/<%=taskList._id %>" method="POST">
            <input type="text" class="" name="newTaskName" placeholder="Add task to list">
            <button type="submit" name="button">Add Task</button>
        </form>
        <hr>
        <% taskList.tasks.map((task)=> { %> 
            
                <form action="http://localhost:5001/taskList/<%=taskList._id %>" method="POST">
                    <div>
                        <form action="http://localhost:5001/taskList/<%=taskList._id %>" method="POST"></form>
                            <input type="text" name="updatedTaskName" placeholder="<%= task.name %>" value="<%=task.name %>">
                            <button 
                                type="submit" 
                                name="save"
                                value="<%=task._id %>"
                                >
                                Save
                            </button>
                        </form>
                        <button 
                            type="submit" 
                            name="done"
                            value="<%=task._id %>"
                            >
                            Done
                        </button>
                        <button 
                            type="submit" 
                            name="delete"
                            value="<%=task._id %>">
                            Delete
                        </button>
                    </div>
                 </form>
        <% }) %>
    </main>
</body>
</html>