<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do</title>
</head>
<body>
    <%- include('../src/components/header', {isAuthenticated, user}); %>
    <main>
        <form action="/toDo" method="post">
            <input name="description" type="text" placeholder="Add a To Do">
            <button type="submit">Add</button>
        </form>
        <ul>
            <% toDos.forEach((toDo) => { %>
               <li>
                    <a href="/markToDo/<%= toDo.completed %>/<%= toDo._id %>"><%= toDo.completed %></a>
                    <form action="/updateToDo/<%= toDo._id %>" method="post">
                       <input type="text" placeholder="Write your To Do" name="description" value=<%= toDo.description %> >
                       <input type="submit" value="Edit">
                    </form>
                    <a href="/deleteToDo/<%= toDo._id %>">x</a>
                </li>
            <% }); %> 
           </ul>
    </main>
    <%- include('../src/components/footer'); %>
</body>
</html>