<div class="card">
  <h5 class="card-header"><%= taskTitle %></h5>
  <div class="card-body">
    <h5 class="card-title"><%= creationDate %></h5>
    <p class="card-text"><%= taskDetails %></p>
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Priority
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Urgent</a></li>
      <li><a class="dropdown-item" href="#">Important</a></li>
      <li><a class="dropdown-item" href="#">Some Day</a></li>
    </ul>
    <a type="button" method="delete" action="/delete" href="/delete/<%= id %>" class="btn btn-danger">Delete</a>
    <a type="button" method="put" action="/edit" href="/edit/<%= id %>" class="btn btn-primary">Edit</a>
  </div>
</div>
 
