<%- include("templates/head", {webTitle: 'Home'}) %>
<body>
    <%- include("templates/header") %>
    <main>
        <ul>
          <%- include('templates/new-task-card')%>
            <% todoList.forEach(function(listItem){ %>
              <%- include('templates/task-card', {
                  taskTitle:listItem.taskTitle,
                  creationDate:listItem.creationDate,
                  taskDetails:listItem.taskDetails,
                  id: listItem._id
                }); %>
            <% }); %>
          </ul>
    </main>
    <%- include("templates/footer") %>
</body>
</html>